# WSL temp files
*.swp
*.swo
*.tmp

# Windows ADS metadata
Zone.Identifier

# VS Code workspace
.vscode/

# WSL metadata and backups
*.bak
*.old

# Logs
*.log

# Syncthing temp
.syncthing.tmp

#Docker container files
docker-compose.override.yml
Devcontainer.json
Devcontainer-lock.json
.devcontainer

#Github
Dependabot.yml
.github
.github/workflows